/* Обработка поведения для мобильных устройств */
@media (max-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .content-container {
    width: 90%;
  }

  .site-header__nav-link {
    font-size: 15px;
    padding: 8px 10px;
  }
}

@media (max-width: 500px) {
  .content-container {
    width: 95%;
  }
}
